{% extends "blog/padre.html" %} {% load static %} {% block main %}
<section class="container-fluid">
    <div class="row justify-content-center align-items-center my-3">
        <h1 class="text-center fw-bolder fst-italic">~ About Me ~</h1>
        <p class="text-center"> - Sobre mí -</p>
        <div class="col-md-5 align-items-md-start px-3 ">
            <div>
                <img src="{% static 'blog/assets/img/perfil.jpg' %}" class=" img-fluid rounded-circle container_aboutme--imgProfile" alt="profile" />
            </div>
        </div>
        <div class="col-md-5 container_aboutme--textProfile">
            <h2 class="fst-italic">Hola...</h2>
            <h3 class="fs-4 ">Mi nombre es Nicolás Capriz...</h3>
            <p class="mt-3"> Soy apasionado y entusiasta de la tecnología, actualmente aspirante a desarrollador web front-end, y entusiasta en el aprendizaje de la ciberseguridad.</p>
            <p class="mt-2"
                >Si bien, desde siempre me ha resultado sumamente interesante el mundo de la programación, desde el momento en el cual que pude sumergirme en este emocionante viaje, me he encontrado inmerso en un proceso de aprendizaje y crecimiento constantes. Actualmente disfruto de la creación de experiencias web atractivas y funcionales que no solo son visualmente impactantes, sino también fáciles de usar. Mi finalidad es convertir ideas en código y diseñar interfaces que puedan cautivar
                a los usuarios y que resuelvan problemas de manera efectiva. Por ello, me encuentro en una fase de aprendizaje constante, explorando las últimas tendencias en <strong>HTML, CSS, JavaScript y Python</strong>, como también, el uso de <strong>Frameworks</strong> tales como <strong> Bootstrap, Django</strong> y de herramientas como <strong>Sass, Git y Githud</strong>...
                <a class="link-primary ms-2 " data-bs-toggle="collapse" href="#collapsetext" role="button" aria-expanded="false" aria-controls="collapseExample"> Ver más...</a></p
            >
            <div class="d-flex justify-content-center "> </div>
            <div class="collapse" id="collapsetext">
                <div class="card border border-0">
                    <div id="info">
                        <p class="mt-2">
                            En ese sentido, cada proyecto es una oportunidad para mejorar mis habilidades y aplicar conceptos nuevos. Sin embargo, mi enfoque principal, actualmente, es seguir ampliando mi conocimiento y habilidades de programación a fin de a embarcarme de forma completa en la travesía hacia el mundo de la seguridad cibernética. En razón de ello, mi objetivo es construir un futuro digital más seguro y confiable, siendo que mi pasión por esta disciplina se traduce en un firme
                            deseo de aprender y ser una parte activa de la defensa de sistemas y datos críticos, descubriendo y comprendiendo las posibles vulnerabilidades de los sistemas y programas.</p
                        >
                        <p class="mt-2"> Cuando no estoy frente a mi computadora, me desempeño actualmente como abogado especialista en ámbito penal, enfocado en la lucha contra los delitos informáticos en continuo crecimiento debido al auge de la tecnología. Además, ocasionalmente, me desempeño como profesor de Ciencias Jurídicas en el nivel medio y superior, lo que me inspiran a compartir mis conocimientos a fin de educar a otros sobre las mejores prácticas de seguridad.</p>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapsetext" aria-expanded="false" aria-controls="collapseExample"> Ver menos... </button>
                        </div>
                    </div>
                </div>
            </div>
            <p class="mt-2">Así que ahora que sabes un poco más sobre mí, si tenes un proyecto interesante o deseas conectarte para contarme tus ideas, ¡no dudes hacerlo! Estoy listo para enfrentar nuevos desafíos y contribuir de manera significativa al mundo digital, por lo que te dejo a continuación mi perfil de Githud y de Linkedin.</p>
            <div class="d-flex justify-content-center py-3 ">
                <a href="https://github.com/NSCapriz" target="_blank"> <button class="btn  btn-dark "> Ir al perfil de Githud...</button></a></div>
                <a href="https://www.linkedin.com/in/nicol%C3%A1s-capriz-934647261/" target="_blank"> <button class="btn  btn-dark "> Ir al perfil de Linkedin...</button></a></div>
            <p class="mt-2 text-center"> ¡Gracias por visitar mi perfil y por haber sido ser parte de este emocionante viaje conmigo!</p>
        </div>
    </div>
</section>
{% endblock main %}
