{% extends "blog/padre.html" %} {% load static %} {% block main %}
<section class="container-fluid ">
    <div class="row justify-content-center align-items-center my-5 py-5">
        <div class="col-md-4 my-4 py-4">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center fs-4 fst-italic">Detalles Post</h1>
                </div>
                <div class="card-body">
                    <p class="card-title text-center  fw-bolder">{{object.title}}</p>
                    <p class="card-text text-center">{{object.content}}</p>
                    <p class="card-text text-center">Fecha publicado: {{object.date_create}}</p>
                    <p class="card-text text-center">Publicado por: {{object.author_post}}</p>
                </div>
            </div>
            <div class="d-flex justify-content-center align-items-center my-5">
                <a href="{% url 'foro' %}" class="btn btn-info text-white fw-bolder">Regresar</a>
            </div>
        </div>
    </div>
</section>
{% endblock main %}
