{% extends "blog/padre.html" %} {% load static %} {% block main %}
<!--Aquí va lo que cambia, y lo asociado a está vista :) -->
<section class="my-4">
    <div class=" container__bienvenida row justify-content-center align-items-center ">
        <div class="col-md">
            <h1 class="text-center fw-bold mt-5"> Bienvenidos a Brezee Deco</h1>
            <p class="text-center fw-bolder mt-4">¡Aveturate a conocer nuestro mundo de diseño de interiores!</p>
            <p class="text-center">Transformá tus espacios con elegancia y estilo...</p>
            <p class="text-center mb-5">Creá el estilo perfecto para hacer de tu hogar un lugar confortable.</p>
        </div>
    </div>
</section>
<section class="my-4">
    <div class="row justify-content-center align-items-center container__registrarse">
        <div class="col-md">
            <h2 class="text-center fw-bold mt-5">Te invitamos que formes parte de nosotros</h2>
            <p class="text-center fw-semibold mt-4">¡Dimos inicio a este viaje, para ayudarte a trasnformar tus espacios en obras maestras!</p>
            <p class="text-center">Nuestro emprendimiento de decoración de interiores sigue creciendo gracias a tu apoyo. Cada día buscamos expandir nuestra selección de productos para hacer tus espacios aún más hermosos.</p>
            <p class="text-center mb-5">¡Gracias por querer ser parte de nuestro éxito!</p>
            <a href="" class="text-center"><button class="btn btn-warning text-white fw-semibold mb-3">Registrate</button></a>
        </div>
    </div>
</section>
<section class="my-4">
    <div class="row justify-content-center align-items-center container__nosotros">
        <div class="col-md">
            <h2 class="text-center fw-bold mt-5">¿Querés saber más sobre nosotros?</h2>
            <p class="text-center fw-semibold mt-4">¡Dimos inicio a este viaje, para ayudarte a trasnformar tus espacios en obras maestras!</p>
            <p class="text-center">Nuestro emprendimiento de decoración de interiores sigue creciendo gracias a tu apoyo. Cada día buscamos expandir nuestra selección de productos para hacer tus espacios aún más hermosos.</p>
            <p class="text-center fw-bold mb-5">¡Encuentra tu estilo y sueña en grande!</p>
            <a href="" class="text-center"><button class="btn btn-warning text-white fw-semibold mb-3">Conocé más</button></a>
        </div>
    </div>
</section>
<section class="my-4">
    <div class="row justify-content-center align-items-center container__productos">
        <div class="col-md">
            <h2 class="text-center fw-bold mt-5">Te invitamos a ver nuestros productos</h2>
            <p class="text-center fw-semibold mt-4">Cada rincón es una oportunidad para crear belleza. Explora nuestra variedad de productos y da vida a tus sueños de diseño</p>
            <p class="text-center">Descubre un mundo de posibilidades en nuestro emprendimiento de decoración de interiores.</p>
            <a href="" class="text-center"><button class="btn btn-warning text-white fw-semibold mb-3">Ver</button></a>
        </div>
    </div>
</section>
{% endblock main %}
