{% extends "blog/padre.html" %} {% load static %} {% block title %} Breeze Deco | Productos {% endblock title %} {% block main %}
<div class="container-fluid">
    <section class="my-5">
        <h1 class="text-center fst-italic pt-3 text-white container__titulo py-5 rounded mb-5  ">~ Nuestros Productos ~</h1>
        <div class="d-flex justify-content-center align-items-center my-3 mb-4  fw-bolder border-bottom border-top  border-dark">
            <p class="text-center px-2 fs-5 pt-3 ">¿Querés recibir todas las novedades y promos especiales de nuestros productos?</p>
            <a href="{% url 'suscripciones' %}"><button class="btn btn-warning pb-2 ">Suscribirme</button></a>
        </div>
        <div class="row justify-content-center align-items-center px-5">
            <div class="col-md-5 border border-2 border-black rounded">
                <h2 class="text-center fs-5 pt-3 border-bottom border-2 ">En estes espacio podrás encontrar todos nuestros productos por categorias</h2>
                <p class="text-center pt-3">En <strong>Breeze Deco</strong>, creemos en la magia de los detalles. Sabemos que tu hogar es un lienzo en blanco esperando ser transformado en una obra de arte que refleje tu estilo único. Nuestra colección de productos de decoración de interiores está diseñada para inspirarte, empoderarte y ayudarte a crear un espacio que amarás</p>
            </div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center fst-italic fs-5">¿Necesitar buscar algo?</h2>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div class="row justify-content-center align-items-center text-center">
                                {{productoForm.as_div}}
                                <input type="submit" value="Enviar" class="btn btn-success my-3" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div>
            <h2 class="text-center border-bottom border-black py-5 mb-5 fs-1 fw-bold">Productos por Categorias</h2>
        </div>
        <h2 class="text-center">~ Perfumeria ~</h2>
        <p class="text-center mt-2 mb-5 fst-italic">Difusores & fragancias</p>
        <div class="row justify-content-center align-items-center">
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/repuesto-difusor.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Repuesto de Difusor</h3>
                        <p class="card-text">300ml en Aromas: Bali, Manhattan ,Circe, Pearl, Diamond y Amic. Presentados con varillas de rattan </p>
                        <p class="fw-bolder">$ 4100</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/difusor-vidrio-mate.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Difusor de Vidrio</h3>
                        <p class="card-text">Capacidad: 460cc / Colores: Blanco mate, Aqua mate, Rose nude brillante, Rose, Verde petróleo. </p>
                        <p class="fw-bolder">$ 4300</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/spray-textil.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Spray Textil</h3>
                        <p class="card-text">400 ml - Aroma Bali, Manhattan,Circe, Pearl, Diamond y Amic </p>
                        <p class="fw-bolder">$ 4300</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-md-4 px-5 my-3">
                <div class="card">
                    <img src="{% static 'blog/assets/img/bandeja.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Bandeja Good Vibes</h3>
                        <p class="card-text">Bandeja de madera paraíso (17 cm de largo x 10 cm de ancho)</p>
                        <p class="fw-bolder">$ 3400</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/velas-soja.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Vela de Soja</h3>
                        <p class="card-text">Aromas: Bali, Manhattan,Circe, Pearl, Diamond y Amic </p>
                        <p class="fw-bolder">$ 3900</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/flor-difusora.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Flor Difusora</h3>
                        <p class="card-text">Confeccionada en género liviano absorbente - varios colores </p>
                        <p class="fw-bolder">$ 2100</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <h2 class="text-center  border-top pt-3 border-black">~ Baño ~</h2>
        <p class="text-center mt-2 mb-5 fst-italic">Bath, Body & Relax</p>
        <div class="row justify-content-center">
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/sal-de-baño.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Sales de Baño</h3>
                        <p class="card-text">Fragancias: Coco-Vainilla /Flowers Bouquet/ Green tea -lemon</p>
                        <p class="fw-bolder">$ 3000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/jabones-barra.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Jabones en Barra</h3>
                        <p class="card-text">Fragancias: Vainilla, Verbena, Magnolia&Vainilla, Limón, Coco</p>
                        <p class="fw-bolder">$ 990</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/almohadilla.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Almohadilla Terapeutica</h3>
                        <p class="card-text">Almohadilla 30x15cm Con llas ,lavanda, manzanilla y eucalipto</p>
                        <p class="fw-bolder">$ 2600</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <h2 class="text-center border-top pt-3 border-black">~ Textil ~</h2>
        <p class="text-center mt-2 mb-5 fst-italic">Mantas & Almohadones</p>
        <div class="row justify-content-center">
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/manta-bruma.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Manta Bruma</h3>
                        <p class="card-text">Colores: aqua/beige/verde/gris acero/rosa/ azul/avellana</p>
                        <p class="fw-bolder">$ 9000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/manta-wild.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Manta Wild</h3>
                        <p class="card-text">Colores: aqua/verde/ gris/rosa/arena</p>
                        <p class="fw-bolder">$ 9000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/manta-spring.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Manta Sprind</h3>
                        <p class="card-text">Manta tejida blanco tiza 100%algodón - 1,60x1,20</p>
                        <p class="fw-bolder">$ 14000</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/almohadon-frase-rectangular.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Almohadon Rectangular con Frase</h3>
                        <p class="card-text">30x60 (funda y relleno) </p>
                        <p class="fw-bolder">$ 4000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/almohadon-tusor.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Almohadon de Tusor</h3>
                        <p class="card-text">40x40 (funda y almohadón) Colores: verde seco, Avellana, Gris claro, Azul acero, Arena</p>
                        <p class="fw-bolder">$ 4000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/almohadon-frase-cuadrado.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Almohadon Cuadrado con Frase</h3>
                        <p class="card-text">40x40 (funda y relleno)</p>
                        <p class="fw-bolder">$ 4000</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="mt-5">
        <h2 class="text-center border-top pt-3 border-black">~ Accesorios ~</h2>
        <p class="text-center mt-2 mb-5 fst-italic">Hogar</p>
        <div class="row justify-content-center">
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/tazas.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Tazón Nórdico</h3>
                        <p class="card-text">Material: Cerámica - Colores: Nude, verde, gris, negro</p>
                        <p class="fw-bolder">$ 5200</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/individuales.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Individuales</h3>
                        <p class="card-text">4 unidades</p>
                        <p class="fw-bolder">$ 5000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/cestos.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Cestos de Tela</h3>
                        <p class="card-text">Confeccionados en tusor - modelos: HOME CORAZON</p>
                        <p class="fw-bolder">$ 1800</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/alfombra.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Alfombra</h3>
                        <p class="card-text">Confeccionadas en algodón. Colores: Crudo liso, Rayada (0.90x060)</p>
                        <p class="fw-bolder">$ 6000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/manteles.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Manteles</h3>
                        <p class="card-text">Confeccionados en tusor - 2 unidades</p>
                        <p class="fw-bolder">$ 8000</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 px-5 my-3 text-center">
                <div class="card">
                    <img src="{% static 'blog/assets/img/apagador-vela.jpg' %}" class="img-fluid px-5 pt-5" alt="..." />
                    <div class="card-body">
                        <h3 class="card-title fs-5">Apagador de Velas</h3>
                        <p class="card-text">Candle snuffer de metal para apagar tus velas y evitar que se ensucien</p>
                        <p class="fw-bolder">$ 1000</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock main %}
